<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Inventory count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= product.inventory_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Create a cart", new_cart_path %>
<br>
<%= link_to 'View your cart', carts_path %>
<br>
<%= link_to "Purchase your cart", purchase_path(:id)%>
